## 0 Seabornの準備

In [ ]:
import piplite
import pyodide
await piplite.install("seaborn")

import seaborn as sns
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
sns.set_theme(style="darkgrid")

## 1-1 groupby()

In [ ]:
data = pd.read_csv(pyodide.http.open_url("https://raw.githubusercontent.com/ChungWookyung/kg-jupyterlite-data-analysis/main/content/DATA/testdata.csv"))
data.head()

任意の属性をもつ擬似データを読み込んだ

In [ ]:
data.groupby("B")[["A","C","D","F"]].mean()

B列でグループを作ってグループ別平均を求めた

In [ ]:
data.groupby("E")[["A","C","D","F"]].mean()

E列でグループを作ってグループ別平均を求めた

In [ ]:
data.groupby(["B","E"]).mean()

BとE列を同時に使ったグループを作ってグループ別平均を求めた

## 1-2 各種統計量の計算

In [ ]:
data.groupby(["B","E"]).var()

groupby().var()は分散を求める

In [ ]:
data.groupby(["B","E"]).count()

groupby().count()は個数をカウントする

In [ ]:
data.groupby(["B","E"]).sum()

groupby().sum()は合計を求める

## 2-1 データをくっつけるとは？ concat()

In [ ]:
data = pd.read_csv(pyodide.http.open_url("https://raw.githubusercontent.com/ChungWookyung/kg-jupyterlite-data-analysis/main/content/DATA/testdata.csv"))
data1 = data.iloc[:5,:]
data2 = data.iloc[5:,:]

In [ ]:
data1

In [ ]:
data2

ここに同じ列を持っているdata1とdata2がある

In [ ]:
pd.concat([data1,data2])

pd.concat()は同じ列を持ったデータ同士を列方向にくっつける

## 2-2 データをくっつけるとは？ merge()

In [ ]:
data = pd.read_csv(pyodide.http.open_url("https://raw.githubusercontent.com/ChungWookyung/kg-jupyterlite-data-analysis/main/content/DATA/testdata.csv"))
data1 = data.iloc[:,[0,1,3]]
data2 = data.iloc[:,[0,2,4,5]]

In [ ]:
data1.head()

In [ ]:
data2.head()

data1とdata2を読み込んだ

In [ ]:
pd.merge(data1,data2,on="A")

pd.merge()はインデックスを指定して、列方向にデータをくっつける

## 3-1 pivot_table()の説明

In [ ]:
data = pd.read_csv(pyodide.http.open_url("https://raw.githubusercontent.com/ChungWookyung/kg-jupyterlite-data-analysis/main/content/DATA/testdata.csv"))
data.head()

まずはデータを読み込む

In [ ]:
data.pivot_table(index="B",columns="E",values="C")

In [ ]:
data.pivot_table(index="E",columns="B",values="D")

In [ ]:
data.pivot_table(index="B",columns="E",values="F")

## 3-2 melt()の説明

In [ ]:
data.melt(id_vars="A",value_vars=["B","E"])

In [ ]:
data.melt(id_vars="A",value_vars=["C","D","F"])

In [ ]:
temp = data.melt(id_vars="A",value_vars=["C","D","F"])
sns.scatterplot(data = temp, x ="A", y = "value", hue = "variable")

## 4 学校データの加工と処理

In [ ]:
data = pd.read_csv(pyodide.http.open_url("https://raw.githubusercontent.com/ChungWookyung/kg-jupyterlite-data-analysis/main/content/DATA/mhigh.csv"))
data1 = data.iloc[:,[0,1,2,3,4,5,6]]
data2 = data.iloc[:,[0,1,2,9,7,8]]

In [ ]:
data1.head()

In [ ]:
data2.head()

### 実習問題：data1とdata2を氏名をインデックスとしてくっつけてdataという名前をつけてください
ヒント：pd.merge()

### 実習問題： 上の問題で作ったdataで全体データから成績のクラス別平均を求めてください
ヒント：groupby().mean()

### 実習問題： dataを加工して、行はクラス、列は学年、値は成績合計のデータを作ってください
ヒント：pivot_table()

## 5 CPSデータの加工と処理

In [ ]:
data = pd.read_csv(pyodide.http.open_url("https://raw.githubusercontent.com/ChungWookyung/kg-jupyterlite-data-analysis/main/content/DATA/CPS1988.csv"))
data1 = data.iloc[:14000,:]
data2 = data.iloc[14000:,:]

### 実習問題：data1とdata2は同じデータを0から14000人まで、14001人から28155人まで分けたものです。data1とdata2を合併して元のデータに戻し、dataという名前をつけてください
ヒント：pd.concat()

### 実習問題：人種(ethnicity)と地域(region)別の賃金(wage)と経験年数(experience)の分散を求めてください
ヒント：groupby().var()

### 実習問題：dataを加工して、行は人種(ethnicity)、列は地域(region)、値は賃金のデータを作ってください
ヒント：pivot_table()