In [ ]:
import pandas as pd
import piplite
await piplite.install("seaborn")
import pyodide
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline
sns.set(rc={'figure.figsize':(11.7,8.27)})

## 1 出生率のデータ

In [ ]:
data = pd.read_csv(pyodide.http.open_url("https://raw.githubusercontent.com/ChungWookyung/kg-jupyterlite-data-analysis/main/content/DATA/birth.csv"))

In [ ]:
data.head()

日本の各県の出生率(千人あたり)データ

In [ ]:
data["Date"].unique()

In [ ]:
data.groupby("Ken").describe()["Birth"]

In [ ]:
tokyodata = data.loc[data["Ken"] == "tokyo",:]
tokyodata.head()

In [ ]:
sns.lineplot(data=tokyodata, x="Date", y="Birth")

In [ ]:
kenlist = ["osaka","tokyo","hokkaido"]
data2 = data.loc[data["Ken"].isin(kenlist),:]
data2.head()

In [ ]:
sns.lineplot(data = data2, x="Date", y="Birth", hue="Ken")

実習：群馬県とその周りの県に関して、出生率のグラフを描いてください

## 2 空き家のデータ

In [ ]:
data = pd.read_csv(pyodide.http.open_url("https://raw.githubusercontent.com/ChungWookyung/kg-jupyterlite-data-analysis/main/content/DATA/akiya.csv"))

In [ ]:
data.head()

In [ ]:
data["Date"].unique()

In [ ]:
data.groupby("Ken").describe()[["Jyutaku","Akiya"]]

In [ ]:
data2003 = data.loc[data["Date"] == 2003,:]
data2018 = data.loc[data["Date"] == 2003,:]

In [ ]:
sns.scatterplot(data = data2003, x ="Jyutaku", y = "Akiya")

In [ ]:
sns.scatterplot(data = data2018, x ="Jyutaku", y = "Akiya")

In [ ]:
kenlist = ["osaka","tokyo","hokkaido"]
data2 = data.loc[data["Ken"].isin(kenlist),:]
data2.head()

In [ ]:
sns.lineplot(data = data2, x ="Date", y ="Jyutaku", hue = "Ken")

In [ ]:
sns.lineplot(data = data2, x ="Date", y ="Akiya", hue = "Ken")

実習：群馬県とその周りの県に関して、住宅と空き家の数のグラフを描いてください（折れ線グラフ）

## 3 サービス売上

In [ ]:
data = pd.read_csv(pyodide.http.open_url("https://raw.githubusercontent.com/ChungWookyung/kg-jupyterlite-data-analysis/main/content/DATA/keizai.csv"))

In [ ]:
data.head()

サービス産業の売上データ
- Service: サービス産業全体
- Logistic: 物流
- House: 不動産
- Tech: 技術
- Food: 宿泊・飲食
- Enter: 娯楽
- Edu: 教育
- Health: 医療

In [ ]:
data["Date"].unique()

In [ ]:
data.groupby(["Ken"]).describe()["Service"]

In [ ]:
data2017 = data.loc[data["Date"]==2017,:]
data2017.head()

In [ ]:
sns.barplot(data = data2017, y="Ken", x="Service")

In [ ]:
sns.barplot(data = data2017, y="Ken", x="Tech")

In [ ]:
vlist = data.columns[3:]
tokyodata = data.loc[data["Ken"] == "tokyo",:]
tokyodata = tokyodata.melt(id_vars="Date",value_vars=vlist)
tokyodata.head()

In [ ]:
sns.lineplot(data = tokyodata, x = "Date", y="value", hue="variable")

実習：群馬県とその周りの県に関して、サービス産業の推移のグラフを描いてください（折れ線グラフ）